{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golf App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>

<body class="bg-light"> <!-- Add a background color using Bootstrap class -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4"> <!-- Add margin to the bottom of navbar -->
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/golf_logo.jpg' %}" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                Golf App
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    <a class="nav-link" href="{% url 'game_list' %}">Games</a>
                    <a class="nav-link" href="{% url 'player_list' %}">Players</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4"> <!-- Container with a margin-top -->
        <!-- Add block content from html template -->
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer bg-white border-top py-3 mt-4"> <!-- Footer with a top border and padding -->
        <div class="container">
            <span class="text-muted">{{ chosen_saying }}</span>
        </div>
    </footer>

    {% bootstrap_javascript %}
</body>
</html>
