{% extends 'golf_app/base_template.html' %}

{% block content %}
<div class="container mt-3">
    <h1 class="mb-4">Create New Game</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.course_name.label_tag }}
            {{ form.course_name.errors }}
            <input type="text" name="{{ form.course_name.name }}" class="form-control" id="{{ form.course_name.id_for_label }}" value="{{ form.course_name.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            {{ form.date.label_tag }}
            {{ form.date.errors }}
            <input type="text" name="{{ form.date.name }}" class="form-control" id="{{ form.date.id_for_label }}" value="{{ form.date.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            {{ form.players.label_tag }}
            {{ form.players.errors }}
            {{ form.players }}
        </div>
        <div class="mt-4">
            <a href="{% url 'new-player' %}" class="btn btn-primary">Create New Player</a>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-success">Save Game</button>
        </div>
    </form>
    
    <div class="mt-3">
        <a href="{% url 'game-list' %}" class="btn btn-outline-secondary">Back to Game List</a>
    </div>
</div>
{% endblock %}
