{% extends 'golf_app/base_template.html' %}  <!-- Extends a base template to inherit its structure -->

{% block content %}  <!-- Start of the content block to be inserted into the base template -->
    <h1>Logout</h1>
    <!-- Message confirming the user has been logged out -->
    <p>You have been successfully logged out.</p>
    <!-- Appreciation message for the user's visit -->
    <p>Thank you for visiting our website.</p>
    <!-- Link to allow the user to log in again -->
    <p><a href="{% url 'login' %}">Log in again</a></p>
{% endblock %}  <!-- End of content block -->
